<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- <add key="ConnectionString" value="Server=localhost;Database=study3;User Id=sa;Password=ReallyStrongPwd123;Encrypt=True;TrustServerCertificate=True;"/> -->
		<!-- <add key="ConnectionString2" value="Server=localhost;Database=study3;User Id=sa;Password=ReallyStrongPwd123;Encrypt=True;TrustServerCertificate=True;"/> -->
		<add key="ConnectionString" value="Data Source=WINDOWS-10;Initial Catalog=study3;User ID=sa;Password=hai35115442;Trust Server Certificate=True"/>
	</appSettings>
</configuration>
